/* Temel reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Genel sayfa arka planı */
body {
    background-color: #F5F3FF;
}

/* ANA KAPSAYICI */
.tutorial-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}

/* BAŞLIK */
.tutorial-container h1 {
    font-size: 2.5rem;
    color: #1F2937; /* Koyu gri */
    margin-bottom: 20px;
}

.tutorial-container p {
    font-size: 1.2rem;
    color: #374151; /* Orta gri */
    line-height: 1.6;
    margin-bottom: 20px;
}

/* KULLANIM REHBERİ */
.tutorial-guide {
    background: #EDE9FE; /* Açık lila kutu */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(124, 58, 237, 0.1);
    margin-bottom: 30px;
}

.tutorial-guide h2 {
    font-size: 1.8rem;
    color: #1F2937;
    margin-bottom: 10px;
}

.tutorial-guide ol {
    text-align: left;
    padding: 0;
    list-style-position: inside;
}

.tutorial-guide li {
    font-size: 1.2rem;
    color: #4B5563; /* Hafif koyu gri */
    margin: 10px 0;
}

/* FOOTER */
footer {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    background: #1F2937; /* Navbar uyumu */
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
